<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="b.k.s">


<select resultType="Integer" id="getIno">

<![CDATA[select max(ino) from item]]>
</select>


<insert id="insert">

<![CDATA[insert into item (ino,ititle,iwriter,publishDay,publisher,cataCode,filename,content,price,percent,stock,discountedPrice, id, prolog)
      values (#{ino}, #{ititle}, #{iwriter}, #{publishDay}, #{publisher}, #{cataCode}, #{filename}, #{content}, #{price},#{percent},#{stock},#{discountedPrice}, #{id}, #{prolog})]]>
</insert>

<delete id="delete">delete from item where ino = #{ino} </delete>


<select resultType="ItemDTO" id="list">

<![CDATA[select * from item order by ino desc]]>
</select>

<select resultType="Integer" id="getAmount">select count(ino) from item </select>

<select resultType="Integer" id="searchgetAmount">select count(ino) from item where cataCode = #{cataCode} </select>

<select resultType="ItemDTO" id="updateui">select * from item where ino = #{ino} </select>

<update id="update">update item set ititle = #{ititle}, iwriter = #{iwriter}, publishDay= #{publishDay}, publisher = #{publisher}, cataCode= #{cataCode}, filename= #{filename}, content= #{content}, price = #{price}, percent =#{percent}, writeday = sysdate, stock = #{stock}, discountedPrice = #{discountedPrice}, prolog = #{prolog} where ino = #{ino} </update>

<select resultType="ItemDTO" id="searchlist">select * from item where cataCode = #{cataCode} order by ino desc </select>

<select id="searchAll" resultType="ItemDTO">
   select * from item where lower(ititle) like '%'||lower(#{keyword})||'%' or lower(content) like '%'||lower(#{keyword})||'%' or lower(iwriter) like '%'||lower(#{keyword})||'%' or lower(publisher) like '%'||lower(#{keyword})||'%'
</select>

<select resultType="Integer" id="searchAllgetAmount">
select count(ino) from item where lower(ititle) like '%'||lower(#{keyword})||'%' or lower(content) like '%'||lower(#{keyword})||'%' or lower(iwriter) like '%'||lower(#{keyword})||'%' or lower(publisher) like '%'||lower(#{keyword})||'%' </select>

<select id="searchItitle" resultType="ItemDTO">
	select * from item where lower(ititle) like '%'||lower(#{keyword})||'%'
</select>

<select resultType="Integer" id="searchItitleAmount">
select count(ino) from item  where lower(ititle) like '%'||lower(#{keyword})||'%'	
</select>

<select id="searchIwriter" resultType="ItemDTO">
	select * from item where lower(iwriter) like '%'||lower(#{keyword})||'%'
</select>

<select resultType="Integer" id="searchIwriterAmount">
select count(ino) from item  where lower(iwriter) like '%'||lower(#{keyword})||'%'	
</select>
<update id="increaseLike">
update item set like1 = like1+1 where ino = #{ino}
</update>

<select id="best" resultType="ItemDTO">
	select * from item order by like1 desc
</select>

<insert id="pickupInsert">
insert into pickup (pno, ino, id, pcs, price, filename, ititle) values (pickup_seq.nextval, #{ino}, #{id}, #{pcs}, #{price}, #{filename}, #{ititle})
</insert>

<select id="countOfIno" resultType="Integer">
select count(*) from pickup where ino = #{ino}
</select>

<update id="increasePcs">
update pickup set pcs = pcs +1 where ino = #{ino}
</update>

</mapper>