<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="o.r.d">

	<select id="mRead" resultType="MemberDTO">
		
		select * from member where id = #{id}
		
	</select>

	<select id="pList" resultType="PickupDTO">
		
		select * from pickup where pno in
		<foreach collection="array" item="arr" open="(" close=")" separator=",">
 			#{arr}
		</foreach>
  	  order by pno desc
		
	</select>
	
	<select id="getOno" resultType="Integer">
		select max(ono) from orderedList
	</select>
	
	<insert id="insertOlist">
		insert into orderedList (ono,id,ino,pcs,ititle,email,receiver,payPrice,message,userAddr1,userAddr2,userAddr3,phoneNum,filename) values (#{ono},#{id},#{ino},#{pcs},#{ititle},#{email},#{receiver},#{payPrice},#{message},#{userAddr1},#{userAddr2},#{userAddr3},#{phoneNum},#{filename})
	</insert>
	
	<select id="orderedList" resultType="OrderedListDTO">
		select * from orderedList where id = #{id}
	</select>

</mapper>